*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  max-width: 1140px;
  min-height: 535px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

                        /* SEARCH-FORM */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

                        /* label */
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

                        /* состояния */
.search-form__label:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield):active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__label:has(:focus-visible):not(:active) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__fieldset-title:hover {
  cursor: default;
}

                        /* textfield  */
.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

                        /* состояния */
.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

                        /* checkbox  */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 3px;
}

/* для более точного совпадения с макетом 
отступов сверху и снизу у outline */
.search-form__label-text {
  line-height: 19px;
}

/* span */
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

/* input                       +  span */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

                        /* состояния */
.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

                        /* CONTENT-DETAILS */
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-width: 400px;
  height: 100%;
}

.title {
  padding-top: 2px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  cursor: default;
}

.content__accent {
  color: #545050;
}

                        /* ul list */
.content__list {
  position: relative;
  max-width: 399px;
  max-height: 298px;
  padding-right: 4px;
  overflow: auto;
}

                        /* template card-list */
.content__list-item {
  display: flex;
  flex-direction: column;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

                        /* link */
.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

                        /* card */
.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  width: 100%;
  padding: 0 2px;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
}

.content__video-card-title {
  padding-top: 2px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6em;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* в макете не везде первая буква была заглавной */
.content__video-card-description::first-letter {
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

                        /* состояния */
.content__card-link_current:focus-visible,
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item:hover {
  text-decoration: underline;
  /* text-underline-offset: 3px; */
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

                        /* BUTTONS */
.button {
  border: 1px solid currentColor;
  padding: 5px;
  color: inherit;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 195px;
}

.more-button {
  width: 100%;
  margin: 0 2px 2px;
}

                        /* состояния */
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
